
.stations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 10px;
}

.connection {
  margin: 0px 0px 32px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cirlce {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border-color: black;
  border-width: 1px;
  border: solid;
  position: relative;
  text-align: center;
  margin: -2px;
  p {
    position: relative;
    bottom: -16px;
    width: 96px;
    left: -40px;
    margin-top: 3px;
  }
}
