<div class="navbar">
  <div class="left">
    <%= link_to root_path do %>
      Home
    <% end %>
  </div>
  <div class="center">
    <div class="name">
      <h1>Tube Status</h1>
      <div class="status-indicator pulse" style="background-color: <%= status ? "green" : "red" ; %>">

      </div>
      <% unless status %>
        <abbr>(active faults)</abbr>
      <% end %>
    </div>
  </div>
  <div class="right">
    <%= link_to "TfL Map", map_path %>
  </div>
</div>
