<div class="content">
  <div class="name">
    <% @lines.each do |line| %>
      <span class="color" style="width: 48px; background-color: <%= line.color %>; height: 12px;"></span>
    <% end %>
    <%= @station.name %>
  </div>
</div>
