// Specific CSS for your home-page

body {
  background-image: image-url(asset_path('bg-angle-landing.png'));
  font-family: 'Be Vietnam', sans-serif;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

h1 {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: bolder;
  margin: 15px 0 0 15px;
}

.tubemap {
  width: 100vw;
}

.name {
  display: flex
}

.color {
  margin-top: 6px;
  margin-right: 6px;
}

.delays {
  display: flex;
  flex-wrap: wrap;
}

.no-delays {
  display: flex;
  flex-wrap: wrap;
}

.line-card {
  height: 85px;
  width: 220px;
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
}

.delay-line-card {
  min-height: 85px;
  min-width: calc(50% - 30px);
  max-width: calc(50% - 30px);
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
}

.delay-line-card .status-reason {
  font-size: 12px;
}

.content {
  margin: 25px 50px;
}


.card-content {
  width: 100%;
  padding-top: 10px;
}

.bar {
  margin: 50px;
  height: 2px;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08), 0 2px 4px rgba(0,0,0,0.16)
}
