// Specific CSS for your home-page

body {
  font-family: 'Be Vietnam', sans-serif;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

h1 {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: bolder;
  margin: 15px 0 0 15px;
}

.tubemap {
  width: 100vw;
}

.delays,
.no-delays {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .card-container {
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .line-card {
      border-radius: 6px;
      width: 220px;
      margin: 24px 12px;
      background-color: white;
      overflow: scroll;
      .card-content {
        padding: 6px;
        background-color: white;
        .status-reason {
          font-size: 10px;
        }
      }
      .name {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        padding-bottom: 4px;
      }
    }
  }
}
