.admin-container {
  display: flex;
  height: calc(100vh - 108px);
  width: 100vw;
}

.admin-left {
  height: 100%;
  width: 20%;
  background-color: #F4F4F4;
  // justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.admin-button {

}

.admin-right {
  height: 100%;
  width: 80%;
  background-color: #FFFFFF;
}

.admin-stats {
  display: flex;
}

.admin-section {
  margin: 25px;
}
