<div class="admin-container">
  <div class="admin-left">

  </div>
  <div class="admin-right admin-sub-section">
    <% ledger.api_log.map { |log| log.strftime("%m/%d/%Y") }.uniq.each do |log| %>
      <%= log %>
      <br>
    <% end %>
  </div>
</div>
