<div class="admin-container">
  <div class="admin-left">

  </div>
  <div class="admin-right admin-sub-section">
    <% ledger::Api.assess_day.each do |k, v| %>
      <%= k %>: <%= v %>
      <br>
    <% end %>
  </div>
</div>
