<div class="admin-container">
  <div class="admin-actions admin-left">
    <div class="admin-button-text">
      Run options
    </div>
    <div class="admin-buttons">
      <%= link_to panel_path(api: :true) do %>
        <div class="button red">
          Check TFL
        </div>
      <% end %>

      <%= link_to panel_path(reason: :true) do %>
        <div class="button red">
          Get Reasons
        </div>
      <% end %>
    </div>
  </div>
  <div class="admin-right">
    <div class="admin-last-tf-check">
      TFL was last checked at: <%= @ledger.api_log.last %>
    </div>
  </div>
</div>
