<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="true">Tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">Stats</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
    <%= render 'tasks' %>
  </div>
  <div class="tab-pane" id="stats" role="tabpanel" aria-labelledby="stats-tab">
    <%= render 'stats', lines: @lines, stations: @stations %>
  </div>
</div>
