<div class="admin-container">
  <%= link_to panel_path(api: :true) do %>
    <div class="button red">
      Check TFL
    </div>
  <% end %>

  <%= link_to panel_path(reason: :true) do %>
    <div class="button red">
      Get Reasons
    </div>
  <% end %>
</div>
