.navbar {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08), 0 2px 4px rgba(0,0,0,0.16)
}

.left, .right{
  &:hover {
    opacity: 0.7;
  }
}

.status-indicator {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 25px 15px 0px 15px;
}

.name {
  display: flex;
  align-items: center;
}
